button{
    padding: 8px;
    background:initial;
    margin: 10px;
    outline: none;
    cursor: pointer;
}
.paragraf{
    margin: 10px;
    font-size: 24px;
    
} 
.makeRed{
    background-color: red;
}
.makeGreen{
    background-color: green;
}
.anyText{
    height: 100px;
    margin: 10px;
    border: 1px solid red;
    width: 85%;
}
.inp{
    display: block;
    margin: 10px;
    font-size: 18px;
    width: 84%;
}
.bold,.italic{
    width: 35px;
}
.some{
    width:85% ;
    display: flex;
    justify-content: center;
}